
.header ul{
    list-style: none;
    display: flex;
    justify-content:left;
    margin-bottom: 1%;

}
.container{
    margin-top: 2%;
    justify-content: center;
    border: 5px black solid;
}
.form{
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}